@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportAdmin_Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">


        <!-- Top navbar  -->

        <div class="row shadow navbar-fixed-top" style="background-color: skyblue;">

            <!--Collapse btn-->
            <div id="nav-button" class="btn btn-success" data-target="#left-navbar" onclick="openNav()">


                <span style="font-size: 30px; cursor: pointer;">&nbsp;&nbsp;&#9776;</span>

            </div>
            <!--end collapse btn -->


            @Html.ActionLink("Sport Admin Panel", "IndoorGames", "Sports", " ", new { @class = "text-center admin" })

            <!-- Profile tab -->

            <a class="profile" data-target="#profiles" onclick="showProfile()">
                  @{
                          var imgString = Convert.ToBase64String((byte[])Session["AdminPic"]);
                          var pic = String.Format("data:image/gif;base64,{0}", imgString);
                      
                <img src="@pic" alt="not found" class="img-circle" style="height:inherit; width:60px" />
                <label style="color: blue; position: absolute; top: 10px; left: 90px;">@Session["Admin"]
                    <br />
                    Sports Administrator
                </label>
                <span id="glyphi" style="position: absolute; top: 20px; right: 20px;" class="glyphicon glyphicon-chevron-down"></span>
                  }
            </a>


            <ul id="profiles" class="list-group profilenav" style="width: 0px">
                @Html.ActionLink("Profile", "Profile", "Sports", null, new { @class = "list-group-item" })
                @Html.ActionLink("Change Password", "changePassword", "Sports", null, new { @class = "list-group-item" })
                @Html.ActionLink("Logout", "Logout", "Admin", null, new { @class = "list-group-item" })
            </ul>

            <!--End Profile tab -->

        </div>
        <!--End Top navbar  -->

        <!-- Left navbar-->
        <div style="height: 100%">

            <ul class="list-group sidenavicon" id="left-navbar-icon" style="font-size: 15px; box-shadow: 3px 3px 3px 3px grey">
                 <li>@Html.ActionLink(" ", "IndoorGames", "Sports", null, new {@id="indoor", @class = "fa fa-puzzle-piece list-group-item", @style = "font-size:x-large;" })</li>
                <li>@Html.ActionLink(" ", "OutdoorGames", "Sports", null, new {@id="outdoor", @class = "fa fa-soccer-ball-o list-group-item", @style = "font-size:x-large;" })</li>
                <li>@Html.ActionLink(" ", "CoachDetails", "Sports", null, new {@id="coach", @class = "glyphicon glyphicon-user list-group-item", @style = "font-size:x-large" })</li>
            </ul>

            <ul class="list-group sidenav " style="width: 0px; box-shadow: 3px 3px 3px 3px grey" id="left-navbar">

                <li>@Html.ActionLink(" Indoor", "IndoorGames", "Sports", null, new { @class = "fa fa-puzzle-piece list-group-item", @style = "font-size:large; text-align:justify" })</li>
                <li>@Html.ActionLink(" Outdoor", "OutdoorGames", "Sports", null, new { @class = "fa fa-soccer-ball-o list-group-item", @style = "font-size:large; text-align:justify" })</li>
                <li>@Html.ActionLink(" Coach", "CoachDetails", "Sports", null, new { @class = "glyphicon glyphicon-user list-group-item", @style = "font-size:large" })</li>

            </ul>

        </div>

        <!--End Left navbar-->

    </div>

    <div class="container-fluid">
        <div class="row" id="main-content" style="margin-left: 50px">


            <div>@RenderBody()</div>

        </div>
    </div>


    <script>

        $('#indoor').tooltip({ title: "Indoor", trigger: "hover", placement: "right" });
        $('#outdoor').tooltip({ title: "Outdoor", trigger: "hover", placement: "right" });
        $('#coach').tooltip({ title: "Coach", trigger: "hover", placement: "right" });

        function openNav() {

            if (document.getElementById("left-navbar").style.width == "0px") {

                document.getElementById("left-navbar-icon").style.width = "0px";
                document.getElementById("left-navbar").style.width = "250px";

                document.getElementById("main-content").style.marginLeft = "250px";

            }
            else {
                document.getElementById("left-navbar-icon").style.width = "50px";
                document.getElementById("left-navbar").style.width = "0px";
                document.getElementById("main-content").style.marginLeft = "50px";

            }

        }
        function closeNav() {
            document.getElementById("left-navbar-icon").style.width = "50px";
            document.getElementById("left-navbar").style.width = "0px";
            document.getElementById("main-content").style.marginLeft = "50px";
        }

        function showProfile() {
            if (document.getElementById("profiles").style.width == "0px") {
                document.getElementById("profiles").style.width = "250px";
                document.getElementById("glyphi").className = "glyphicon glyphicon-chevron-up";

            }
            else {
                document.getElementById("profiles").style.width = "0px";
                document.getElementById("glyphi").className = "glyphicon glyphicon-chevron-down";
            }
        }

    </script>
</body>

</html>

