@model DigitalSphere.Models.Book

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Librarian_Layout.cshtml";
}

<h2>Add</h2>
<div class="col-md-3"></div>
<div class="col-md-6">
    <h3 class="text-center">Add Book</h3>
    @using (Html.BeginForm("Add", "Library", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <form role="form">
            <div class="form-group">
                <!--<input type="text" class="form-control" placeholder="Enter Your Username" id="name"/>-->
                @Html.TextBoxFor(m => m.Book_Id, new { @class = "form-control", @placeholder = "Enter Book_ID" })
            </div>

            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Enter Book title" })
            </div>

            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Author, new { @class = "form-control", @placeholder = "Enter Book auther" })
            </div>
            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @placeholder = "Enter Book category" })
            </div>
            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Language, new { @class = "form-control", @placeholder = "Enter Book Language" })
            </div>

            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Enter Book Price" })
            </div>
            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Pubication, new { @class = "form-control", @placeholder = "Enter Book Publication" })
            </div>

            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control", @placeholder = "Enter Book ISBN" })
            </div>

            <div class="form-group">

                <!--                                <input type="password" class="form-control" placeholder="Enter Your Password" id="password"/>-->
                @Html.TextBoxFor(m => m.Total_Copies, new { @class = "form-control", @placeholder = "Enter Total copies" })
            </div>
            <hr />
            <div class="form-group">
            <input type="file" name="f"  class="form-control"/>
                </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">ADD</button>
            </div>
        </form>
    }
</div>
