@{
    ViewBag.Title = "MovieDetail";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>MovieDetail</h2>

<div class="container">
@foreach (var item in Model)
{
    <table class="table text-left" style="margin-left: 20px">

        <tbody>

            <tr>

                <td class="text-center">
@{    
               var imgstring=Convert.ToBase64String(item.Movie_Pic);
               var pic=String.Format("data:image/gif;base64,{0}",imgstring);

                    <img src="@pic" alt="Movie Profile" class="img-thumbnail" style="height:500px; width:400px" style="margin-top:20px"/>
}                </td>
                <td>
                    <table class="table text-left" style="font-size: medium">
                        <tbody>
                            <tr>
                                <td>Movie Id</td>
                                <td>@item.Movie_Id</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>@item.MovieName</td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>@item.Language</td>
                            </tr>
                            <tr>
                                <td>Duration</td>
                                <td>@item.MovieDuration</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>@item.Price</td>
                            </tr>
                            <tr>
                                <td>Producer</td>
                                <td>@item.Producer</td>
                            </tr>
                            <tr>
                                <td>Director</td>
                                <td>@item.Director</td>
                            </tr>
                            <tr>
                                <td>Writer</td>
                                <td>@item.Writer</td>
                            </tr>
                            <tr>
                                <td>Star Cast</td>
                                <td>@item.Starcast</td>
                            </tr>
                            <tr>
                                <td>Censor</td>
                                <td>@item.Censor</td>
                            </tr>
                            <tr>
                                <td>Release Date</td>
                                <td>@item.Release_Date.ToShortDateString() </td>
                            </tr>
                            <tr>
                                <td>Genre</td>
                                <td>@item.Genre</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>

    </table>
}

    
<hr />
<br /><br />
<h2 class="text-center">Show Timings</h2>

<div class="container">
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead style="font-size: medium">
                <tr>
                    <td>Movie id</td>
                    <td>Screen Id</td>
                    <td>Show Number</td>
                    <td>Time</td>
                    <td>Date</td>
                    <td>Available</td>

                </tr>
            </thead>
            <tbody style="font-size: small">
                @foreach (var i in ViewData["Shows"] as IEnumerable<DigitalSphere.Models.ShowTime>)
                { 
                    <tr>
                        <td>@i.Movie_Id</td>
                        <td>@i.Screen_Id</td>
                        <td>@i.Show_Number</td>
                        <td>@i.Time</td>
                        <td>@i.Date.ToShortDateString()</td>
                        <td>@i.Availabilty</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
</div>
