@{
    ViewBag.Title = "searchbook";
    Layout = "~/Views/Shared/User_Layout.cshtml";
    var j = 0;
}
<table>
    <thead>
        <tr>
            <td></td>
            <td>Book_id</td>
            <td>Author</td>
            <td>Title</td>
            <td>Available</td>
            <td>Publication</td>
            <td>ISBN</td>
            <td>Category</td>
            <td>Language</td>
            <td>Price</td>
            <td>Total Copies</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewData["search"] as IEnumerable<DigitalSphere.Models.Book>)
        {
            <tr>
                <td>@{    
            var imgstring = Convert.ToBase64String(i.book_pic);
            var pic = String.Format("data:image/gif;base64,{0}", imgstring);
                    <img src="@pic"  style="height:120px; width:120px" />

                }</td>

                <td>@i.Book_Id</td>
                <td>@i.Author</td>
                <td>@i.Title</td>
                <td>@i.Pubication</td>
                <td>@i.ISBN</td>
                <td>@i.Category</td>
                <td>@i.Language</td>
                <td>@i.Price</td>
                <td>@i.Available</td>
            </tr>
   
        }


    </tbody>
</table>
